.git
.gitignore
*.pyc
__pycache__/
db.sqlite3
media/
staticfiles/
frontend/node_modules/
frontend/dist/
mobile-app/node_modules/
mobile-app/android/app/build/
mobile-app/android/build/
mobile-app/android/.gradle/
desktop-app/node_modules/
desktop-app/dist/
dist/
build/
*.egg-info/
.env
